[submodule "HNG-TASKS"]
	path = HNG-TASKS
	url = https://github.com/RayOmiyi/stage-1
[submodule "HNG-TASKS2"]
	path = HNG-TASKS2
	url = https://github.com/RayOmiyi/hng-stage2-frontend
[submodule "IMAGE-GALLERY-TASK3"]
	path = IMAGE-GALLERY-TASK3
	url = https://github.com/RayOmiyi/Image-gallery
[submodule "HNG-TASK5"]
	path = HNG-TASK5
	url = https://github.com/RayOmiyi/portfolio-web
